* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-size: small; */
}

body {
  background-color: #ffffff;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100'%3E%3Cg stroke='%23CCC' stroke-width='0' %3E%3Crect fill='%23F5F5F5' x='-60' y='-60' width='110' height='240'/%3E%3C/g%3E%3C/svg%3E");
}

nav ul {
  background-color: #997e59;
  padding: 1.5em;
}

nav ul li {
  list-style-type: none;
  color: #fff;
}

main {
  /* height: 50vh; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: sans-serif;
}

.search {
  width: 60%;
  height: 30px;
  font-size: large;
  margin-top: 1em;
}

#search {
  width: 100%;
  height: 100%;
  outline: none;
  border: none;
  border-bottom: 1px solid #997e59;
  overflow: hidden;
  padding: 1em;
}

#search::after,
#search:focus {
  border-bottom: 1px solid black;
  transform: translateX(0%);
  transition: transform 0.3s ease-in-out;
}

input::placeholder {
  color: #997e59;
  font-size: large;
}

.filters {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* border: 1px solid black; */
}

.filters h3 {
  display: block;
  margin: 0.5em 0 1.3em 0;
}

.filter-set {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  /* border: 1px solid red;
  /* display: grid;
  grid-template-columns: 2fr 1fr; */
  width: 60vw;
}

.filter-set .spec-filter {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 2em;
}

/* Base for label styling */
[type='checkbox']:not(:checked),
[type='checkbox']:checked {
  position: absolute;
  left: -9999px;
}
[type='checkbox']:not(:checked) + label,
[type='checkbox']:checked + label {
  position: relative;
  padding-left: 1.6em;
  cursor: pointer;
}

/* checkbox aspect */
[type='checkbox']:not(:checked) + label:before,
[type='checkbox']:checked + label:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 1.25em;
  height: 1.25em;
  border: 2px solid #ccc;
  background: #fff;
  border-radius: 4px;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
}
/* checked mark aspect */
[type='checkbox']:not(:checked) + label:after,
[type='checkbox']:checked + label:after {
  content: '\2713\0020';
  position: absolute;
  top: 0.15em;
  left: 0.22em;
  font-size: 1.3em;
  line-height: 0.8;
  color: #09ad7e;
  transition: all 0.2s;
  font-family: 'Lucida Sans Unicode', 'Arial Unicode MS', Arial;
}
/* checked mark aspect changes */
[type='checkbox']:not(:checked) + label:after {
  opacity: 0;
  transform: scale(0);
}
[type='checkbox']:checked + label:after {
  opacity: 1;
  transform: scale(1);
}
/* disabled checkbox */
[type='checkbox']:disabled:not(:checked) + label:before,
[type='checkbox']:disabled:checked + label:before {
  box-shadow: none;
  border-color: #bbb;
  background-color: #ddd;
}
[type='checkbox']:disabled:checked + label:after {
  color: #999;
}
[type='checkbox']:disabled + label {
  color: #aaa;
}
/* accessibility */
[type='checkbox']:checked:focus + label:before,
[type='checkbox']:not(:checked):focus + label:before {
  border: 2px dotted blue;
}

/* hover style just for information */
label:hover:before {
  border: 2px solid #997e59 !important;
}

/* 
 Checkbox styling: Geoffrey Crofte: Codepen 
*/

.select-css {
  display: block;
  font-size: 16px;
  font-family: sans-serif;
  font-weight: 700;
  color: #444;
  line-height: 1.3;
  padding: 0.6em 1.4em 0.5em 0.8em;
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
  margin: 1.7em 0;
  border: 1px solid #aaa;
  box-shadow: 0 1px 0 1px rgba(0, 0, 0, 0.04);
  border-radius: 0.5em;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-color: #fff;
  background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'),
    linear-gradient(to bottom, #ffffff 0%, #e5e5e5 100%);
  background-repeat: no-repeat, repeat;
  background-position: right 0.7em top 50%, 0 0;
  background-size: 0.65em auto, 100%;
}
.select-css::-ms-expand {
  display: none;
}
.select-css:hover {
  border-color: #888;
}
.select-css:focus {
  border-color: #aaa;
  box-shadow: 0 0 1px 3px #997e59;
  box-shadow: 0 0 0 3px -moz-mac-focusring;
  color: #222;
  outline: none;
}
.select-css option {
  font-weight: normal;
}

/* Chris Coyier: Styling Checkbox like it's 2019 */

[type='submit'] {
  padding: 0.7em;
  border-radius: 7.5px;
  box-shadow: none;
  border: 1px solid #997e59;
  margin-top: 1.18em;
  width: 100%;
  font-size: 0.9em;
  cursor: pointer;
}
/* 
.fa-search {
  transition: all 0.5s;
} */

.fa-search:hover {
  animation: rotatecss 1.5s infinite linear;
}

@keyframes rotatecss {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
