* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #ffffff;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100'%3E%3Cg stroke='%23CCC' stroke-width='0' %3E%3Crect fill='%23F5F5F5' x='-60' y='-60' width='110' height='240'/%3E%3C/g%3E%3C/svg%3E");
}

nav ul {
  background-color: #997e59;
  padding: 1.5em;
}

nav ul li {
  list-style-type: none;
}

main {
  /* height: 50vh; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: sans-serif;
}

.search {
  width: 60%;
  height: 30px;
  font-size: large;
  margin-top: 1em;
}

#search {
  width: 100%;
  height: 100%;
  outline: none;
  border: none;
  border-bottom: 1px solid #997e59;
  overflow: hidden;
  padding: 1em;
}

#search::after,
#search:focus {
  border-bottom: 1px solid black;
  transform: translateX(0%);
  transition: transform 0.3s ease-in-out;
}

input::placeholder {
  color: #997e59;
  font-size: large;
}
