* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
}

body {
  height: 60vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  font-family: sans-serif;
  background-attachment: fixed;
  background: url('./Confetti-Doodles.svg');
}

.form-group {
  width: 50%;
  position: relative;
  height: 50px;
  overflow: hidden;
}

.form-group input {
  width: 100%;
  height: 100%;
  color: #fff;
  padding-top: 20px;
  border: none;
  background: #997e59;
  outline: none;
}

.form-group label {
  position: absolute;
  bottom: 0px;
  left: 0%;
  width: 100%;
  height: 100%;
  pointer-events: none;
  border-bottom: 1px solid #fff;
}

.form-group label::after {
  content: '';
  position: absolute;
  left: 0px;
  bottom: -1px;
  height: 100%;
  width: 100%;
  border-bottom: 1px solid black;
  transform: translateX(-100%);
  transition: transform 0.3s ease;
}

.content-title {
  position: absolute;
  bottom: 5px;
  left: 0px;
  transition: all 0.3s ease;
}

.form-group input:focus + .label-title .content-title,
.form-group input:valid + .label-title .content-title {
  transform: translateY(-150%);
  font-size: 14px;
  color: rgba(255, 255, 255, 0.397);
}

.form-group input:focus + .label-title::after,
.form-group input:valid + .label-title::after {
  transform: translateX(0%);
}

.form-group-text {
  width: 50%;
}

.form-group-text label {
  display: block;
  margin-bottom: 5px;
}

.form-group-text textarea {
  background: #997e59;
  outline: #fff;
  border: 1px solid #fff;
  width: 100%;
  transition: all 0.4s ease;
}

.form-group-text textarea:focus {
  border: 1px solid black;
}

.submit {
  width: 50%;
}

.btn {
  width: 100%;
  padding: 5px;
  border-radius: 5px;
  background: #fff;
  color: #d38921;
  cursor: pointer;
}

/* #997E59 */
